<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>User Info</title>

    <script src="../../lib/knockout/knockout-latest.js"></script>
    <link href="../../../css/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="../../../css/lib/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

</head>

<body>

    <div id="list-details" class="container p-3">
        <div class="row pt-4">
            <div class="col-12">
                <div class="card">
                    <header>
                        <div class="row">
                            <div class="col-6">
                                <h2 class="text-primary">Users List</h2>
                            </div>
                            <div class="col-6 text-right">
                                <a data-bind="click: createNewUser" class="btn btn-primary float-end">Create New User</a>
                            </div>
                        </div>
                    </header>
                    <div class="card-section">
                        <table class="table table-hover table-striped table-responsive">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Password</th>
                                    <th>
                                        Actions
                                    </th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: users">
                                <tr>
                                    <td data-bind="text: $data.username"></td>
                                    <th data-bind="text: $data.password"></th>
                                    <th width="20%">
                                        <div class="w-100 btn-group" role="group">
                                            <button class="btn btn-primary mx-1">Update</button>
                                            <button class="btn btn-danger mx-1">Delete</button>
                                        </div>
                                    </th>

                                    <!--<td width="20%">
                                        <div class="w-100 btn-group" role="group">
                                            <a asp-controller="Course" asp-action="Update" asp-route-Id="@course.CourseID" class="btn btn-primary mx-1">Update</a>
                                            <a asp-controller="Course" asp-action="Delete" asp-route-CourseID="@course.CourseID" class="btn btn-danger mx-1">Delete</a>
                                        </div>
                                    </td>-->

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <footer>

                    </footer>
                </div>
            </div>
        </div>
    </div>


    <!--<loading-button params="buttonText: 'Get All Items', 'action': fetchItems, 'onDone': onNewItems">
    </loading-button>-->
    <!-- partial -->
    <!--<script src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.1/knockout-latest.js'></script>-->

    <script src="listViewModel.js"></script>
    <script src="../../lib/jquery/jquery.min.js"></script>
    <script src="../../lib/knockout/mapping-latest.js"></script>

</body>
</html>




